Package: com.ps.flashorama
Name: Flashorama
Depends: mobilesubstrate, preferenceloader, firmware (>= 10.0)
Replaces: org.thebigboss.flashorama, com.spicat.flashorama
Provides: org.thebigboss.flashorama, com.spicat.flashoram
Conflicts: org.thebigboss.flashorama, com.spicat.flashoram
Version: 1.0
Architecture: iphoneos-arm
Description: Toggle flashlight while taking panorama.
Author: PoomSmart
Maintainer: PoomSmart
Section: Tweaks
